@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.header{
  border-bottom: 1px solid #0100CD;
}

.header-list, .main-text, .logo {
  color: #0100CD;
}

.header, .home, .Information, .Seamless, .Testing, .partners {
  padding-right: 90px;
  padding-left: 90px;
}

.home-blue-btn{
  background-color: #0100CD;
  height: 49px;
  width: 177px;
  /* font-family: Roboto; */
font-style: normal;
font-weight: normal;
font-size: 17px;
letter-spacing: 0.125em;
color: #FFFFFF;
}

.information-text {
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.125em;
text-align: left;
color: #0100CD;
}

.logo-container{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
